@import "master.css";




.carousel-inner img {
  margin: auto;
}


/* la info de cada prod del carousel */
._ni_infoCarousel{
  background-color: rgba(78, 78, 80, 0.8);
  color: black;
  }




._producto:hover{
  border: 2px solid grey;
}


section._articles{
  margin-top: 50px;

}
article a {
  color:black;
}
a:hover{
  color: black;
  text-decoration: none;
}

/* CONTACTANOS */
#_contactarprimera{
  background-color: #f8f9fa;
}
._contactanosheader{
  margin-top: 25px;
}


h1  {
  font-family: 'Sedgwick Ave Display', cursive;
}
