@import "faq.css";
@import "perfil.css";
@import "productos.css";
@import "registrate.css";
@import "contacto.css";
@import "carritodecompras.css";


header{
  font-size: 1.5rem;

}
p {
  font-family: 'Lacquer', sans-serif;
}


._perfilList{
  overflow: hidden;
  list-style: none;

}

/* iconos de carro y perfil */
#iniciar{
  float: right;
  margin-right: 10px;
  }



.carousel-inner img {
  margin: auto;
}


/* la info de cada prod del carousel */
._ni_infoCarousel{
  background-color: rgba(78, 78, 80, 0.8);
  color: black;
  }


  #footregistro{
    margin-top: 100px;
}

._producto:hover{
  border: 1px solid rgb(10, 10, 10);
}


section._articles{
  margin-top: 50px;

}
article a {
  color:black;
}
a:hover{
  color: black;
  text-decoration: none;
}

#_altasllantasfooter{
  font-family: 'Sedgwick Ave Display', cursive;
  font-size: 30px;
}
#_contactarprimera{
  background-color: #f8f9fa;
}
._contactanosheader{
  margin-top: 25px;
}
h4  {
  font-family: 'Sedgwick Ave Display', cursive;
}

h1  {
  font-family: 'Sedgwick Ave Display', cursive;
}
