/* HEADER ------------------------------------*/
.nav-item{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
}

._perfilList{
  overflow: hidden;
  list-style: none;
  padding-inline-start: 0px;


}
  #iniciar{
    float: right;
    margin-right: 10px;
    }


/* FOOTER ---------------------------------*/
#footregistro{
    margin-top: 100px;
}


#_altasllantasfooter{
  font-family: 'Sedgwick Ave Display', cursive;
  font-size: 30px;
}

/* GENERALES--------------------------- */
._tituloPagina{
  font-family:  'Sedgwick Ave Display', cursive;
}
