@import "/Users/tomasreddy/Desktop/TUNA/fullstack/css/faq.css";
@import "/Users/tomasreddy/Desktop/TUNA/fullstack/css/perfil.css";
@import "/Users/tomasreddy/Desktop/TUNA/fullstack/css/productos.css";
@import "/Users/tomasreddy/Desktop/TUNA/fullstack/css/registrate.css";
@import "/Users/tomasreddy/Desktop/TUNA/fullstack/css/contacto.css"

body{


}

header{
  font-size: 1.5rem;
}



._perfilList{
  overflow: hidden;
  list-style: none;

}
#iniciar{
  float: right;
  margin-right: 10px;
  }



.carousel-inner img {
  margin: auto;
}


/* la info de cada prod del carousel */
._ni_infoCarousel{
  background-color: rgba(78, 78, 80, 0.8);
  color: black;
  }



  #footregistro{
    margin-top: 100px;
    }
